<h1>Coronaregistrering på Zealand</h1>
<p>Velkommen til vores COVID app</p>
<form style="border: black solid 1px;" method="POST" action="/corona">
    Indtast smittetal for Zealand<br />
    <label>MUL </label><input id="smittedMul" type="number" value="0" name="smittedeMul"><br />
    <label>DAT </label><input id="smittedeDat" type="number" value="10" name="smittedeDat"><br />
    <button type="submit">Indsend</button>
</form>